@font-face {
    font-family: "fp-font";
    src: url("fonts/didactgothic-regular-webfont.woff") format("woff");
}

:root {
    --vio: #662483;
    --bg-vio: #6e268c;
    --ros: #de69a6;
    --cel: #2f90a9;
    --bg-cel: #27778b;
    --oro: #a47f28;
    --dark-oro: #755b1e;
    --ner: rgb(46, 46, 46);
}

.bg-vio {
    background-color: var(--bg-vio);
}

.bg-cel {
    background-color: var(--bg-cel);
}

.bg-oro {
    background-color: var(--oro);
}

.color-cel {
    color: var(--cel);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;
}


/* FOOTER */


/* body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

main>article {
    scroll-snap-align: start;
    scroll-snap-stop: always;
} */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
    display: grid;
    grid-template-columns: minmax(min-content, 1024px);
    justify-content: center;
    grid-template-rows: min-content min-content 1fr;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    scroll-behavior: smooth;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

main>article {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

article {
    height: 100%;
    overflow-y: auto;
    --padding-size: 1em;
    padding: var(--padding-size);
}


/* -- */

.title-bar {
    background-color: var(--cel);
    border-bottom: var(--oro) 0.2rem solid;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
}

.title-text {
    height: 35px;
    z-index: 0;
}

.title-logo {
    height: 50px;
}

.title-container {
    justify-content: center !important;
}

.footer-bar {
    border-top: var(--oro) 0.2rem solid;
    background-color: var(--ner);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.navbar-item {
    color: white;
    text-align: center;
}

.pagine {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.pagina-item {
    display: flex;
    text-align: center;
    flex: 0 0 100vw;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    padding: 0px 1rem;
}


/* PAGINE */

.page-settings {
    padding-top: 4rem;
}

.page-title {
    font-size: 2rem;
    color: white;
    font-family: "fp-font";
    font-weight: bold;
    font-style: normal;
}

.page-subtitle {
    color: var(--ros);
    font-size: 1.5rem;
    font-family: "fp-font";
    font-style: normal;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
}

.star-bullet {
    color: white;
}

.page-rule {
    color: white;
    text-align: left;
    font-size: 1.3rem;
    font-family: "fp-font";
    font-style: normal;
    font-weight: normal;
    padding-left: 0.3rem;
    margin-bottom: 1rem;
}

.page-rule-link {
    text-decoration: none;
    color: var(--cel);
}


/* -- */